html{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/imagenes/certificado/certificado.jpg");
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-attachment: fixed;
    background-position: center;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-size: 100% 100%; /* Ajusta al 100% de ancho y alto */
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.classContainerCertificado{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.classNombre{
    font-size: 3vw;
    color: #002f70;
    font-weight: bolder;
    position: absolute;
    margin-right: 25vw;
}

.classDescargar{
    position: absolute;
    top: 1%;
    left: 10%;
    margin: auto;
    height: auto;
    width: 8%;
    z-index: 3;
}

.classAtras{
    position: absolute;
    top: 1%;
    left: 2%;
    margin: auto;
    height: auto;
    width: 8%;
}