html{
    overflow: hidden !important;
}

body{
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #002f70;
}

main{
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
}

.classCOntainerMain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#idImgJugar{
    object-fit: scale-down;
    margin: auto;
    width: 25%;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.classImgLogoDNDA{
    object-fit: scale-down;
    width: 15%;
    position: absolute;
    top: 0;
    right: 3%;
    margin-top: 5%;
}

.classPIndex{
    position: relative;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 0;
    text-align: center;
    margin-top: 3%;
}

#svgObjectAgrandar{
    position: absolute;
    width: 100vw;
    top: 3%;
    right: -43vw;
    height: 8%;
    display: none;
}

.classObject{
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    display: none;
    border: 1px solid rgb(55, 0, 255);
}


/* Dispositivos medianos, como tabletas en orientación vertical */
@media only screen and (min-width: 880px) and (max-width: 1023px) and (orientation: portrait){
    .classPIndex{
        
        font-size: 20px;
        margin-top: 10%;
    }

    #idImgJugar{
        width: 60%;
        
    }
  }
  
/* Dispositivos medianos, como tabletas en orientación Horizontal */
@media only screen and (min-width: 880px) and (max-width: 1023px) and (orientation: landscape){
    .classPIndex{
        font-size: 20px;
    }

    #idImgJugar{
        width: 25%;
    }

  }


/* Dispositivos pequeños, como teléfonos orientacion vertical */
@media screen and (min-width:480px) and (max-width: 880px) and (orientation: portrait){
    .classPIndex{
        font-size: 20px;
        margin-top: 8%;
    }

    #idImgJugar{
        width: 60%;
        
    }
}


/* Dispositivos pequeños, como teléfonos  orientacion horizontal */
@media screen and (min-width:480px) and (max-width: 880px) and (orientation: landscape){
    .classPIndex{
        font-size: 20px;
        margin-top: 8%;
    }

    #idImgJugar{
        width: 25%;
    }
}

/* orientacion vertical */
@media screen and (min-width:375px) and (max-width: 480px) and (orientation: portrait){
    .classPIndex{
        font-size: 20px;
        margin-top: 8%;
    }

    #idImgJugar{
        width: 60%;
    }
}


/* orientacion Horizontal */
@media screen and (min-width:375px) and (max-width: 480px) and (orientation: landscape){
    .classPIndex{
        font-size: 20px;
        margin-top: 8%;
    }

    #idImgJugar{
        width: 25%;
    }
}

/* orientacion Horizontal */
@media screen and (max-width: 374px) and (orientation: landscape){
    .classPIndex{
        font-size: 20px;
        margin-top: 8%;
    }

    #idImgJugar{
        width: 25%;
    }
}

/* orientacion vertical */
@media screen and (max-width: 374px) and (orientation: portrait){
    .classPIndex{
        font-size: 20px;
        margin-top: 8%;
    }

    #idImgJugar{
        width: 60%;
    }
}
  
  
