html{
    overflow: hidden !important;
}

body{
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#svgObjectIndex{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
}

#svgObjectAgrandar{
    position: absolute;
    width: 100vw;
    top: 3%;
    right: -45vw;
    height: 8%;
    opacity: 0;
}

.classObject{
    width: 100vw;
    height: 100vh;
    border: 1px solid rgb(0, 17, 255);
    overflow: hidden !important;
}
