html{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/Fondos/img/FondoAzul.jpg");
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-attachment: fixed;
    background-position: center;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-size: 100% 100%; /* Ajusta al 100% de ancho y alto */
}

/*=====================Estilos Header=========================*/

.classHeaderMiison1{
    width: 100%;
}

.classCOntainerHeader{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 3%;
}

.classMarcador{
    width: 30%;
    border: 1px solid red;
}

.classTitle{
    width: 30%;
    border: 1px solid rgb(51, 255, 0);
}

.classCOntainerBtnsAyuda{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 0, 255);
}

.classSvgMusica{
    width: 25%;
}

.classSvgPregunta{
    width: 25%;
    margin-right: 4%;
}


/*=====================Estilos Main=========================*/

main{
    width: 100%;
}

.classHola{
    font-family: Arial;
    color: aqua;
    font-size: 10px;
}

.classContenedorInformacion{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}



.classSvgLibro{
    width: 20%;
}



.classSvgBordon{
    width: 20%;
}

.classSvgMision{
    width: 15%;
}