html{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/Fondos/img/FondoAzul.jpg");
    background-repeat: no-repeat; /* Evita la repetición del fondo */
    background-attachment: fixed;
    background-position: center;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-size: 100% 100%; /* Ajusta al 100% de ancho y alto */
}

/*=====================Estilos Header=========================*/

.classHeaderMiison1{
    width: 100%;
}

.classCOntainerHeader{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 3%;
}

.classMarcador{
    width: 30%;
}

.block{
    position: relative;
    background: linear-gradient(0deg, black, rgb(70, 69, 69));
    width: 30%;
}

.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600    , #00ff66, #020202, #ff00ff, #ff0099, #6e0dd0,    #ff3300, #099fff     );
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: glowing 20s linear infinite;
    -webkit-animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-repeat: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
    -webkit-filter: blur(40px);
}

.classTitle{
    width: 30%;
    border: 1px solid rgb(51, 255, 0);
}

.classCOntainerBtnsAyuda{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 0, 255);
}

.classSvgMusica{
    width: 25%;
}

.classSvgPregunta{
    width: 25%;
    margin-right: 4%;
}



/*=====================Estilos Main=========================*/

main{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 3%;
}

.clasFelicidades{
    color: aqua;
    width: 15%;
    margin-bottom: 1%;
    margin-left: 20%;
}

.classContaineNombreySvg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.classContenedorInformacion{
    background-color: white;
    width: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 25px;
    padding-left: 2%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.classNameUser{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002f70;
    font-family: Arial;
    margin-right: 5%;
    font-size: 8vh;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.classTexto{
    font-family: Arial;
    color: gray;
    width: 45%;
    font-size: 1.5vw;
}

.classSvgLibro{
    width: 40%;
    height: 45vh;
    position: absolute;
    right: 0%;
}


.classBordonyMisiones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.classSvgBordon{
    width: 60%;
    animation: anime 1.8s infinite ease-in-out alternate;
    -webkit-animation: anime 1.8s infinite ease-in-out alternate;
}

.mision1{
    animation: anime 1.8s infinite ease-in-out alternate;
}

.mision2{
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    animation: jello-horizontal 2.8s 2.2s 3 both;
    -webkit-animation: jello-horizontal 2.8s 2.2s 3 both;
}

.classMisionesBtns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    bottom: -25%;
    
}

.classSvgMision{
    width: 15%;
    margin-right: 5%;
}


@keyframes glowing{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400%;
    }
    100%{
        background-position: 0 0;
    }
}


@keyframes anime{
    100%{
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
}
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-28 8:9:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
